<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251723603367-d4m4qq5ci3c7akfjbrmur0tv9k77j6pb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251723603367-d4m4qq5ci3c7akfjbrmur0tv9k77j6pb</string>
	<key>API_KEY</key>
	<string>AIzaSyDPm19C1gyUrtMfbCVZM4sKbizDv7qD1JI</string>
	<key>GCM_SENDER_ID</key>
	<string>251723603367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fuelhunter</string>
	<key>PROJECT_ID</key>
	<string>fuel-hunter</string>
	<key>STORAGE_BUCKET</key>
	<string>fuel-hunter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251723603367:ios:d6aacf3dd9495507702a82</string>
	<key>DATABASE_URL</key>
	<string>https://fuel-hunter.firebaseio.com</string>
</dict>
</plist>